doctype html
html
  head
    link(rel= 'stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src= 'https://code.jquery.com/jquery-2.2.4.min.js')
    script(src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/style/global.css')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  body
    main.clearfix !{content}
    script(src='/script/horrific.js')
    script(src='/script/vendor.js')
    link(rel='stylesheet', href='/style/vendor.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
  footer#footer
    include footer.pug

