body
  background: #1D1F21
  color: rgba(255, 255, 255, .8)
a.link
  cursor: pointer
  color: #81A2BE

.container
  header.pageTitle
    text-align: center
    border-bottom: 3px solid rgba(255, 255, 255, .7)
    h1
      font-weight: bold
  .postContainer
    border-bottom: 3px solid rgba(255, 255, 255, .7)
    text-align: center
    &.quickPostTable
      border: 3px solid rgba(255, 255, 255, .7)
      padding: 1em
      border-radius: .3em
      box-shadow: 0 .3em 1em rgba(0,0,0,0.75)
      background: #282A2E
      z-index: 1
      cursor: move
    .postTable
      padding: 1em 0
      display: inline-block
      .postInfo
        label
          h4
            font-size: 1em
          input[type=text]
            padding: .15em
            color: rgba(96, 96, 96, 1)
            display: inline-block
            width: 25em
            border-radius: 2px
          textarea
            vertical-align: top
            color: rgba(96, 96, 96, 1)
            width: 28em
            padding: 5px
            min-height: 5em
            border-top-left-radius: 3px
            border-top-right-radius: 3px
            &:focus
              outline: none
              border-color: green
        &:nth-last-child(2)
          display: inline-block
          position: relative
          label
              margin-bottom: 0
      section.controlPannel
        text-align: left
        background: rgba(0, 0, 0, .6)
        padding: 5px
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
        div.function
          padding: 3px
          display: inline-block
          margin-right: 5px
          position: relative
          label
            cursor: pointer
          span.tooltips
            display: none
          &:hover
            i
              color: white
            span.tooltips
              display: block
              padding: .5em
              background: rgb(0, 0, 0)
              position: absolute
              top: 0
              left: 50%
              transform: translate(-50%, -100%)
              text-align: center
              white-space: nowrap
              font-weight: bold
              user-select: none
              border-radius: 5px
          &.active span.tooltips
            display: none
          i
            font-size: 1.3em
            &.on
              color: #FF8B2C
            &.on:hover
              color: #ff7300
          input
            display: none
            & ~ i
              display: none
            & + i
              display: inline
            &:checked
              & ~ i
                display: inline
              & + i
                display: none
        section.hidden-func
          display: none
          &.active
            display: block
          input
            width: 100%
            padding: .15em
            color: rgba(96, 96, 96, 1)
            display: inline-block
            border-radius: 2px
          input#imgfile
            display: none
      section.submission
        display: flex
        margin-top: 5px
        padding: 0 .3em
        section.addition
          display: inline-flex
          text-align: center
          justify-content: center
          margin-right: 5px
          .btn
            color: white
            font-size: 1.15em
          .btn-on
            background-color: #449d44
            border-color: #398439
            &:hover
              background-color: #307d30
              border-color: #1b4e1b
          .btn-off
            background-color: #c9302c
            border-color: #ac2925
            &:hover
              background-color: #ad221e
              border-color: #7b1511
          input[type=checkbox]
            display: none
            & ~ .btn
              display: inline-block
            & + .btn
              display: none
            &:checked
              & ~ .btn
                display: none
              & + .btn
                display: inline-block
        #submit
          display: inline-flex
          text-align: center
          min-width: 30%
          flex-direction: row
          justify-content: center
          flex-grow: 1
          margin-bottom: 5px

article.thread, #hoverBox
  margin-bottom: .7em
  padding-left: 0
  padding-bottom: 1.4em
  border-bottom: 2px solid rgba(255, 255, 255, .7)
  position: relative
  header.imgInfo h4, section.imgInfo h4
    font-size: .85em
    margin: .5em 0
  .contentSection
    header
      span
        display: inline-block
        padding: 0 .3em
        vertical-align: top
        &.title
          color: #B294BB
          font-weight: bold
          font-size: 1.125em
        &.name
          color: #EE88BC
        &.quotable.id
          color: #a3d1d1
          &.id_3
            color: #ffe153
          &.id_6
            color: #9aff02
          &.id_9
            color: #b766ad
            text-shadow: 0 0 0.2em #b766ad
          &.id_12
            color: #ff00eb
            text-shadow: 0 0 0.3em #ea0000
    section
      display: table
      max-width: 100%
      &.mainContent
        padding: .9em 1em 1em 0em
        word-break: break-all
        display: block
        p.content
          padding: 0
    .imgContainer
      cursor: pointer
      img
        float: left
        vertical-align: top
        max-width: 250px
        max-height: 500px
        display: inline-block
        padding-right: 10px
        margin-right: 5px
      &.zoomed
        display: table
        img
          max-width: 100%
      &.video
        img
          display: none
        video
          max-wdith: 100%
    p.content
      padding: .9em 1em 1em 1.8em
      text-align: justify
      margin: 0
      font-size: 1.15em
      word-break: break-all
  .quotable, .quote, .quotedList
    color: #81A2BE
    cursor: pointer
    &:hover, &:focus
      text-decoration: underline
    &.missing
      color: #ff8585
  .quotedList
    margin-top: 1em
    font-size: .9em
    margin-bottom: 0
    display: none
    &:hover, &:focus
      text-decoration: none
    .quoted
      margin-left: .5em
    .quoted, .text
      &:hover, &:focus
        text-decoration: underline
  .quoteText
    color: #ADBD68
  .replyBox.quotedArticle, &.quotedArticle .mainContent
    p.quotedList
      display: inline-block
.replyBox
  background: #282A2E
  padding: .2em .5em
  margin-bottom: 5px
  .col-xs-12
    padding-left: 0
  p.quotedList
    margin-top: 0

#hoverBox, .hoverBox
  max-height: 100%
  overflow-y: auto
  position: fixed
  top: -5000px
  left: 0
  background: rgb(32, 32, 32)
  border: 3px solid rgba(255, 255, 255, .7)
  padding: 0
  article
    margin-bottom: 0
    border: none
    padding: 1em
    padding-left: 0
    .contentSection
      padding: 0
      .mainContent
        padding-left: 1em
  .quotedArticle p.quotedList
    display: inline-block
  .replyBox
    &:last-child
      margin-bottom: 0
    .quotedList
      margin-top: 0

p.debug
  text-align: justify
  word-break: break-all
div.bar
  margin: 50px 0
  height: 5px

@media screen and (max-width: 600px)
  .container
    padding: 5px
    header.pageTitle h2
      font-size: 1em
    article.thread
      padding: 0
      section.contentSection
        padding: 0
        a.imgContainer
          display: inline-block
          width: 100%
          & + header
            width: 100%
      p.content
        padding: .5em
        font-size: 1em

