body
  background: #1D1F21
  color: rgba(255, 255, 255, .8)
.link
  cursor: pointer
  color: #81A2BE
  &:focus, &:hover
    color: #71ade0
.in-block
  display: inline-block

#APIstatus
  display: none
  .success
    color: green
  .fail
    color: red

.container
  main.articleContainer
    padding: 0
  header.pageTitle
    text-align: center
    border-bottom: 3px solid rgba(255, 255, 255, .7)
    h1
      font-weight: bold
  .postContainer
    border-bottom: 3px solid rgba(255, 255, 255, .7)
    text-align: center
    .exit
      display: none
      position: absolute
      top: 0
      right: 0
      .btn
        padding: 0 .17em
        font-size: 12pt
    &.quickPostTable
      border: 3px solid rgba(255, 255, 255, .7)
      padding: .75em 1em .1em 1em
      border-radius: .3em
      box-shadow: 0 .3em 1em rgba(0,0,0,0.75)
      background: #282A2E
      z-index: 1
      cursor: move
      .exit
        display: inline-block
    .postTable
      padding: 1em 0
      display: inline-block
      .postInfo
        label
          h4
            font-size: 1em
          input[type=text]
            padding: .15em
            color: rgba(96, 96, 96, 1)
            display: inline-block
            width: 25em
            border-radius: 2px
          textarea
            vertical-align: top
            color: rgba(96, 96, 96, 1)
            width: 28em
            padding: 5px
            min-height: 5em
            border-top-left-radius: 3px
            border-top-right-radius: 3px
            &:focus
              outline: none
              border-color: green
        &:nth-last-child(2)
          display: inline-block
          position: relative
          label
              margin-bottom: 0
      section.controlPannel
        text-align: left
        background: rgba(0, 0, 0, .6)
        padding: 5px
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
        div.function
          padding: 3px
          display: inline-block
          margin-right: 5px
          position: relative
          label
            cursor: pointer
          span.tooltips
            display: none
          &:hover
            i
              color: white
            span.tooltips
              display: block
              padding: .5em
              background: rgb(0, 0, 0)
              position: absolute
              top: 0
              left: 50%
              transform: translate(-50%, -100%)
              text-align: center
              white-space: nowrap
              font-weight: bold
              user-select: none
              border-radius: 5px
          &.active span.tooltips
            display: none
          i
            font-size: 1.3em
            &.on
              color: #FF8B2C
            &.on:hover
              color: #ff7300
          input
            display: none
            & ~ i
              display: none
            & + i
              display: inline
            &:checked
              & ~ i
                display: inline
              & + i
                display: none
        section.hidden-func
          display: none
          &.active
            display: block
          input
            width: 100%
            padding: .15em
            color: rgba(96, 96, 96, 1)
            display: inline-block
            border-radius: 2px
            &#imgurl
              height: 4em
          &.image .btn.btn-default
            width: 100%
            margin-top: 3px
            border-radius: 1px
            padding: 3px 0
          input#imgfile
            display: none
      section.submission
        display: flex
        margin-top: 5px
        padding: 0 .3em
        section.addition
          display: inline-flex
          text-align: center
          justify-content: center
          margin-right: 5px
          .btn
            color: white
            font-size: 1.15em
          .btn-on
            background-color: #449d44
            border-color: #398439
            &:hover
              background-color: #307d30
              border-color: #1b4e1b
          .btn-off
            background-color: #c9302c
            border-color: #ac2925
            &:hover
              background-color: #ad221e
              border-color: #7b1511
          input[type=checkbox]
            display: none
            & ~ .btn
              display: inline-block
            & + .btn
              display: none
            &:checked
              & ~ .btn
                display: none
              & + .btn
                display: inline-block
        #submit
          display: inline-flex
          text-align: center
          min-width: 30%
          flex-direction: row
          justify-content: center
          flex-grow: 1
          margin-bottom: 5px

article.thread, #hoverBox
  margin-bottom: .7em
  padding-left: 0
  padding-bottom: 1.4em
  border-bottom: 2px solid rgba(255, 255, 255, .7)
  position: relative
  header.imgInfo h4, section.imgInfo h4
    font-size: .85em
    margin: .5em 0
  &:target header[data-type=post]
    border: white 3px dotted
  .contentSection
    header
      section.articleControlPannel
        display: inline-block
        position: relative
        z-index: 1
        input
          display: none
          & ~ i
            display: none
            font-size: 1.3em
            color: rgb(150, 150, 150)
            cursor: pointer
            padding: .1em .3em
          & + i
            display: inline-block
          &:checked ~ i
            display: inline-block
          &:checked + i
            display: none
        section.control
          position: absolute
          top: 0
          left: 90%
          display: none
          ul
            margin: 0
            padding: 0
          li
            display: block
            position: relative
            padding: .2em 1em
            border-radius: 0
            border: none
            section.hid-submenu
              position: absolute
              top: 0
              left: 100%
              display: none
              max-width: unset
            &:hover section.hid-submenu
              display: block
      span
        display: inline-block
        padding: .05em .3em
        vertical-align: top
        &.title
          color: #B294BB
          font-weight: bold
          font-size: 1.125em
        &.name
          color: #EE88BC
        &.quotable.id
          color: #a3d1d1
          &.id_3
            color: #ffe153
          &.id_6
            color: #9aff02
          &.id_9
            color: #b766ad
            text-shadow: 0 0 0.2em #b766ad
          &.id_12
            color: #ff00eb
            text-shadow: 0 0 0.3em #ea0000
          &.id_15
            color: #ea0000
            text-shadow: 0 0 0.3em #333
        &.articleType
          cursor: default
          font-weight: bold
          padding: .05em 0
          border-radius: 3px
    section
      display: table
      max-width: 100%
      &.mainContent
        padding: .9em 1em 1em 0em
        word-break: break-all
        display: block
        p.content
          padding: 0
          &.show
            max-height: unset
    .imgContainer
      cursor: pointer
      img
        float: left
        vertical-align: top
        max-width: 250px
        max-height: 500px
        display: inline-block
        padding-right: 10px
        padding-bottom: 3px
        margin-right: 5px
      &.zoomed
        display: table
        img
          max-width: 100%
      &.video
        img
          display: none
        video
          max-wdith: 100%
    p.content
      padding: .9em 1em 1em 1.8em
      text-align: justify
      margin: 0
      font-size: 1.05em
      word-break: break-all
      span.bold
        font-weight: 800
      span.del
        text-decoration: line-through
      span.title
        font-weight: 600
        font-size: 1.35em
        color: #fff
      span.underline
        text-decoration: underline
      span.spoiler
        color: black
        background-color: black
        &:hover
          color: #fff
  .quotable, .quote, .quotedList
    color: #81A2BE
    cursor: pointer
    &:hover, &:focus
      text-decoration: underline
    &.missing
      color: #ff8585
  .quotedList
    margin-top: 1em
    font-size: .9em
    margin-bottom: 0
    display: none
    &:hover, &:focus
      text-decoration: none
    .quoted
      margin-left: .5em
    .quoted, .text
      &:hover, &:focus
        text-decoration: underline
  .quoteText
    color: #ADBD68
  .replyBox.quotedArticle, &.quotedArticle .mainContent
    p.quotedList
      display: inline-block
  .replyBox header span.res
    display: none
  .replyBox.hiddenArticle, &.hiddenArticle
    position: relative
    &:after
      content: ' '
      width: 100%
      height: 90%
      position: absolute
      left: 0%
      top: 50%
      transform: translate(0, -50%)
      background: rgba(0, 0, 0, .95)
      display: block
    &:before
      content: '文章已隱藏'
      position: absolute
      left: 50%
      top: 50%
      width: 100%
      text-align: center
      transform: translate(-50%, -50%)
      color: #fff
      z-index: 1
    p
      display: none!important
  &.hiddenArticle
    padding-bottom: 0
    .replyBox, .mainContent
      display: none!important
.replyBox
  background: #282A2E
  padding: .2em .5em
  margin-bottom: 5px
  .col-xs-12
    padding-left: 0
  p.quotedList
    margin-top: 0
  &:target
    border: white 3px dotted

#hoverBox, .hoverBox
  max-height: 100%
  position: fixed
  top: -100%
  left: 0
  background: rgb(32, 32, 32)
  border: 3px solid rgba(255, 255, 255, .7)
  padding: 0
  overflow: visible
  z-index: 2
  article
    margin-bottom: 0
    border: none
    padding: 1em
    padding-left: 0
    .contentSection
      padding: 0
      .mainContent
        padding-left: 1em
  .quotedArticle p.quotedList
    display: inline-block
  .replyBox
    &:last-child
      margin-bottom: 0
    .quotedList
      margin-top: 0
  .articleControlPannel
    display: none!important

p.debug
  text-align: justify
  word-break: break-all
div.bar
  margin: 50px 0
  height: 5px
#infoBox
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background: #fff
  color: #333
  border-radius: 7px
  z-index: 4
  text-align: center
  border: 1px solid #d1d5da
  overflow: hidden
  max-width: 100%
  &.warning h2
    color: #eea236
  &.info h2
    color: #46b8da
  &.error h2
    color: red
  header, main
    padding: .5em 2em
  header
    border-top-right-radius: 7px
    border-top-left-radius: 7px
    background: #f6f8fa
    border-bottom: 1px solid #d1d5da
  main
    background: #fff
    button
      padding: .3em .5em
  h2
    margin: 5px 0
  p
    font-size: 14pt
    margin: 1em 0
    word-break: break-all
#mask
  width: 100vw
  height: 100vh
  background: rgba(50, 50, 50, .5)
  position: fixed
  top: 0
  left: 0
  cursor: pointer
  z-index: 3
section#userPannel
  z-index: 1
  position: fixed
  top: 0
  width: 100%
  text-align: center
  background: #54606d
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 1.5px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.05)
  border-bottom: 1px solid #d1d5da
  .in-block
    margin-right: 5px
  *:not(span)::selection
    background-color: unset
    color: unset
  label
    margin: 0
  input#userPannelSwitch
    display: none
    & + ul
      display: none
    &:checked + ul
      display: inline-block
  .userFuncContainer
    position: relative
  ul
    padding: 0
    margin: 0
  .userPannel
    top: 100%
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    li
      position: relative
      display: block
      border-radius: 0
      padding: .2em 1em
      border: none
      border-left: 1px solid #333
      border-right: 1px solid #333
      &:first-child
        border-top: 1px solid #333
      &:last-child
        border-bottom: 1px solid #333
      &.level
        ul
          display: none
          position: absolute
          top: 0
          left: 100%
          z-index: 1
        &:hover
          border-right: none
          ul
            display: block
            li:first-child
              border-left: none

@media screen and (max-width: 600px)
  #mask
    z-index: 1
  .container
    padding: 5px
    header.pageTitle h2
      font-size: 1em
    article.thread
      padding: 0
      section.contentSection
        padding: 0
        a.imgContainer
          display: inline-block
          width: 100%
          & + header
            width: 100%
      p.content
        padding: .5em
        font-size: 1em
    .postContainer
      .postTable
        width: 100%
        .postInfo
          width: 100%
          font-size: .85em
          label
            width: 100%
            textarea
              width: 100%

